<div class="contents row">
  <% @irgls.each do |irgl| %>
    <div class="content_post" style="background-image: url(<%= irgl.image %>);">
      <p><%= irgl.text %></p>
      <span class="name">
        <%= irgl.name %>
      </span>
    </div>
  <% end %>
</div>